<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new user</title>
</head>
<body>

<center><form th:method="POST" th:action="@{/users}" th:object="${user}">
    <label for="name">Name</label>
    <input type="text" th:field="*{firstName}" id="name">
    <br/>
    <label for="lastName">Lastname</label>
    <input type="text" th:field="*{lastName}" id="lastName">
    <br/>
    <label for="email">Email</label>
    <input type="text" th:field="*{email}" id="email">
    <br/>
    <input type="submit" value="Add User">
</form></center>
</body>
</html>