<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

<h1><center><h1 style="border:2px solid Gold;"> Users </h1></center></h1>
<table align="center" bgcolor="#DEB887" border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Lastname</th>
        <th>Email</th>
    </tr>
 <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.getId()}">id</td>

        <td>
            <a th:href = "@{/{id}/edit(id = ${user.getId()})}" th:text = "${user.getFirstName}"></a>
        </td>
        <td th:text="${user.getLastName()}">lastName</td>
        <td th:text="${user.getEmail()}">email</td>
    </tr>
 </tbody>
</table>

<center> <form th:method="GET" th:action="@{/newuser}">
    <input type = "submit" value="add user"> </form>
</center>
</body>
</html>